:root {
  --cor-base-1: #69402f;
  --cor-base-2: #7a5038;
  --cor-base-3: #8c6143;
  --cor-base-4: #9d7250;
  --cor-base-5: #af8360;
  --cor-base-6: #c09576;
  --cor-base-7: #d1a88d;
  --cor-base-8: #e3bca5;
  --cor-base-9: #f4d1be;
  --cor-base-10: #fbf3e8;
  --cor-base-11: #ffffff;

  --cor-sucesso: #28a745;
  --cor-erro: #dc3545;
  --cor-ativado: #1976d2;
  --cor-favorite: red;

  --borda-escura: 2px solid var(--cor-base-1);
  --sombra-escura: rgba(0,0,0,0.2);
}


button{
  cursor: pointer;
}


html, body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: var(--cor-base-10);
  color: var(--cor-base-1);
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  justify-content: space-between;
}

* {
  border-radius: 5px;
}

hr {
  border: 0;
  border-top: var(--borda-escura);
  margin: 20px 0;
}

.data_body {
  padding: 0 100px;
}

@media (max-width: 600px) {
  .data_body {
    padding: 10px;
  }
}

input {
  width: 100%;
  padding: 4px;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--cor-base-11);
  color: var(--cor-base-1);
}

input[readonly] {
  cursor: default;
}


table th {
  background-color: var(--cor-base-1);
  color: var(--cor-base-11);
  font-weight: bold;
}


/* ------------ Cards das Receitas -------------- */
.image_Amigurumi {
  width: 80%;
  height: 180px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.card_conterner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
}

.cardAmigurumi {
  background-color: var(--cor-base-11);
  border: var(--borda-escura);
  box-shadow: 0 8px 16px var(--cor-base-1);
  padding: 15px;
  width: 170px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.cardAmigurumi:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px var(--cor-base-1);
}

.cardAmigurumi h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: var(--cor-base-1);
  height: 12%;
}

.container_next_previous {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.container_next_previous span {
  font-size: 0.9rem;
  margin: 4px 0;
}


/* ------------ Modal -------------- */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; 
  height: 100%;
  background-color: var(--sombra-escura);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: var(--cor-base-11);
  padding: 20px;
  max-width: 500px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 0 10px var(--sombra-escura);
}

.image-preview {
  width: 100px;
  margin-top: 10px;
  display: block;
}

.image-box {
  padding: 10px;
  margin-top: 10px;
  background-color: var(-cor-base-11);
}

/* ------------ Botão de Favorito -------------- */
.favorite-button {
  background: none;
  border: none;
  font-size: 24px;
  color: var(--cor-borda);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  transition: transform 0.2s ease, color 0.2s ease;
  opacity: 1;
}

.favorite-button:hover {
  transform: scale(1.2);
}

.favorite-button.favorited {
  color: var(--cor-favorite)
}

/* ------------ Caixa de Mensagens -------------- */
.simple-message-box-container {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--sombra-escura);
  z-index: 9999;
}

.simple-message-box {
  background: var(--cor-base-11);
  padding: 20px 30px;
  min-width: 280px;
  max-width: 320px;
  box-shadow: 0 0 10px var(--sombra-escura);
  text-align: center;
  font-weight: 600;
}

.simple-message-box p {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.simple-message-box button {
  padding: 6px 16px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: var(-cor-base-1);
  transition: background-color 0.3s ease;
}

.simple-message-box.success {
  border-left: 6px solid var(--cor-sucesso);
}

.simple-message-box.error {
  border-left: 6px solid var(--cor-erro);
}

/* ------------ Confirmação -------------- */
.confirmacao-box-container {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: var(--sombra-escura);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.confirmacao-box {
  background-color: var(--cor-base-11);
  padding: 25px 30px;
  border: var(--borda-escura);
  box-shadow: 0 0 10px var(--sombra-escura);
  max-width: 320px;
  text-align: center;
}

.confirmacao-box h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.confirmacao-box button {
  margin: 5px 10px 0;
  padding: 6px 12px;
  border: none;
  color: var(--cor-base-11);
  cursor: pointer;
}

.confirmacao-box button.cancelar {
  background-color: var(--cor-erro);
  color: var(--cor-base-11);
  cursor: pointer;
}

.confirmacao-box button.aceitar {
  background-color: var(--cor-sucesso);
  color: var(--cor-base-11);
  cursor: pointer;
}


.mensagem-sucesso {
  color: var(--cor-sucesso);
  font-weight: bold;
  margin-top: 10px;
}





.personal_information {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.botao-olho {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.valido {
  color: var(--cor-sucesso);
  font-weight: bold;
}

.invalido {
  color: var(--cor-erro);
}



/* ------------ barra de pesquisa -------------- */
#searchInput {
  width: 50%;
  padding: 10px 10px 10px 35px;
  font-size: 1em;
  box-shadow: var(--sombra-suave);
  margin-right: 0.5rem;
}

#searchbar_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  width: 100%;
}



/* ------------ Botões -------------- */
.dark_button{
  background-color: var(--cor-base-1);
  color: var(--cor-base-11);
  font-size: 1em;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 13px;
}



.next_previous {
  background-color: var(--cor-base-1);
  color: var(--cor-base-11);
  padding: 0;
  width: 20px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}
