#full_amigurumi_data {
  display: flex;
  flex-direction: row; 
  align-items: top;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  flex-wrap: wrap;
}


/*----------------------------------------------Imagens------------------------------------------------------*/
#amigurumi_imagem{
    width: 25%;
    color: #8c522d;
}

#receita_relacionada{
  color: #8c522d;
  width: 100%;
}

/*----------------------------------------------Lista de Materiais------------------------------------------------------*/
#group_table_list_material_backgroud {
  background-color: #D8CAB8;
  width: calc(100% + 200px);
  margin-left: -100px; 
  padding: 20px 0;
  border-top: 2px solid #69402F;
  border-bottom: 2px solid #69402F;
}

#group_table_list_material{
  margin: 0 auto;
  padding: 0 100px;
}

#table_amigurumi_material{
  width: 100%;
  border-collapse: collapse;
}

#lista_suspensa_material{
  width: 25%;
}

#table_amigurumi_material th{
  background-color: #8c522d;
  color: white;
  position: sticky;
  top: 0; 
  z-index: 1;
  height: 40px;
  border: 1px solid #D8CAB8;
  text-align: left;
  word-wrap: break-word;
}

#table_amigurumi_material td {
  border: 1px solid #D8CAB8;
}

/* Define larguras específicas para cada coluna */
#table_amigurumi_material th:nth-child(1),
#table_amigurumi_material td:nth-child(1) {
  width: 50%; /* Material */
}

#table_amigurumi_material th:nth-child(2),
#table_amigurumi_material td:nth-child(2) {
  width: 15%; /* Qtde */
}

#table_amigurumi_material th:nth-child(3),
#table_amigurumi_material td:nth-child(3) {
  width: 20%; /* ID Cor */
}

#table_amigurumi_material th:nth-child(4),
#table_amigurumi_material td:nth-child(4) {
  width: 15%; /* Excluir (opcional) */
}



/*----------------------------------------------Tabela de Pontos------------------------------------------------------*/
#div_stitchbookList{
  width: 100%;
  
}

#stitchbook_table{
  width: 100%; 
  border-collapse: collapse;
  
}


#stitchbook_table th{
  background-color: #8c522d;
  color: white;
  position: sticky;
  top: 0; 
  z-index: 1;
  height: 40px;
  border: 1px solid #D8CAB8;
  text-align: left;
  
}

#stitchbook_table td {
  border: 1px solid #D8CAB8;
}


#stitchbook_table th:nth-child(1),
#stitchbook_table td:nth-child(1) {
  width: 5%; /* Material */
}

#stitchbook_table th:nth-child(2),
#stitchbook_table td:nth-child(2) {
  width: 10%; /* Qtde */
}

#stitchbook_table th:nth-child(3),
#stitchbook_table td:nth-child(3) {
  width: 35%; /* ID Cor */
}

#stitchbook_table th:nth-child(4),
#stitchbook_table td:nth-child(4) {
  width: 35%; /* Excluir (opcional) */
}

#stitchbook_table th:nth-child(5),
#stitchbook_table td:nth-child(5) {
  width: 15%; /* Excluir (opcional) */
}



#stitchbook_sequence_data{
  width: 100%; 
}

#stitchbook_sequence_data th:nth-child(1),
#stitchbook_sequence_data td:nth-child(1) {
  width: 25%; /* Material */
}

#stitchbook_sequence_data th:nth-child(2),
#stitchbook_sequence_data td:nth-child(2) {
  width: 10%; /* Qtde */
}

#stitchbook_sequence_data th:nth-child(3),
#stitchbook_sequence_data td:nth-child(3) {
  width: 10%; /* ID Cor */
}



/*----------------------------------------------Informações Básicas------------------------------------------------------*/
#card_amigurumi_recipe{
  width: 30%;
}


#amigurumi_information{
  flex: 1 1 300px;
}

.input_name {
  border-top: 2px solid #69402F;
  border-bottom: 2px solid #69402F;
  color: #69402F;
  background: white;
  border-left: none;
  border-right: none;

  padding: 12px 8px;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  text-align: center;
  margin: 24px 0;
}

input.input_name {
  background: white;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre o título e o input */
  margin-bottom: 12px;
}

.input-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  margin-bottom: 20px;
}

.input-item {
  display: flex;
  flex-direction: column;
  width: 170px;
}




/*----------------------------------------------Cards Relacionados------------------------------------------------------*/
#card_relationship_backgroud {
  background-color: #D8CAB8;
  width: calc(100% + 200px);
  margin-left: -100px; 
  padding: 20px 0;
  border-top: 2px solid #69402F;
  border-bottom: 2px solid #69402F;
}

#card_relationship{
  margin: 0 auto;
  padding: 0 100px;
}



/*-------------------------Botão de Rota----------------------------*/
#button_top {
  display: flex;
  justify-content: space-between; /* um grupo à esquerda, outro à direita */
  align-items: center;
  width: 100%;
  flex-wrap: wrap; /* permite quebrar em telas menores */
  margin-bottom: 20px;
}


.breadcrumbs_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button_title_transparent {
  background: transparent;
  border: none;
  color: #69402F;
  cursor: pointer;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
}

.button_title_transparent:hover {
  color: #007bff;
}

.button_icon {
  margin-right: 6px;
  font-size: 18px;
}

.separator {
  user-select: none;
  color: #69402F;
  font-weight: bold;
}
