/* ------------ Geral -------------- */
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: white;
    justify-content: space-between;
    text-align: center;
}

hr {
    border: 0;                
    border-top: 2px solid #8c522d;  
    margin-top: 20px;          
    margin-bottom: 20px;       
}

#master_head {
    display: flex;
    background-color: #c2a490;
    position: relative;
    width: 100%;
    flex-grow: 1;
    padding: 2px 0px;
    border-block: solid #8c522d;
    writing-mode: horizontal-tb;
}

header h1 {
    gap: 30px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    border-block: thick double #8c522d;
}

#logo_company {
    margin: 15px;
    height: 80px;
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    border: solid #8c522d; 
}

.button_title {
    background-color: #8c522d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}


button_next_previous {
    background-color: #8c522d;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    width: 10px;
    border-radius: 5px;
    align-items: center; 
    justify-content: center;
}


#footer {
    background-color: #c2a490;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    border-block: solid #8c522d;
    writing-mode: horizontal-tb;
}

#github_logo, #openAPI_logo, #postman_logo {
    width: 100px;
    height: auto;
}

/* ------------ HTML _index -------------- */
#about_me {
    background-color: #f2ece8;    
}

#about_me img{
    max-width: 300px;    
}

#about_site {
    background-color: #f2ece8;
}

#about_site img{
    max-width: 300px;    
}

/* ------------ HTML _Amigurumi -------------- */
#searchInput {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
    color: #8c522d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cardAmigurumi{
    display: flex;            
    flex-wrap: wrap;                        
    justify-content: center;  
    flex: 1;  
}

#cardAmigurumiImage {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: contain;
}

.cardAmigurumi {
    background-color: #fff;
    border: 1px solid #8c522d;
    border-radius: 10px;
    width: 190px;
    box-shadow: 0 4px 8px #8c522d;
    padding: 15px;
    transition: transform 0.3s;
}

.cardAmigurumi:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #8c522d;
}

.cardAmigurumi h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #8c522d;
    height: 12%;;
}

.cardAmigurumi a {
    display: block;
    text-align: center;
    margin-top: 10px;
    background-color: #8c522d;
    color: white;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}



/* ------------ HTML _Receita -------------- */
#amigurmi_name_recipe {
    color: #8c522d;
    font-size: 48px;
    text-align: center; 
    font-weight: bold;
    text-transform: capitalize; 
    text-decoration: underline dotted  ;
    display: inline-block;
    padding: 5px
}

#amigurmi_name_autor, #amigurmi_name_size {
    color: #8c522d;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize; 
    text-align: center; 
    display: flex;
    padding: 7px
}

#full_amigurumi_data {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

#amigurumi_information {
    background-color: #d9c5b9;
    gap: 10px;
    padding: 15px;
    width: 20%;
    color: #a6785c;
}

#amigurumi_information h2, #amigurumi_information h3{
    color: #8c522d;
}

#div_stitchbookList{
    width: 80%;   
}

#amigurumi_relationship_header{
    background-color: #996544;
    padding: 15px;
    color: white;
}

#amigurumi_relationship{
    background-color: #f2ece8;
}

#amigurumi_imagem_autor {
    width: 100%;
}

#cardAmigurumiRecipeImage {
    display: flex;            
    flex-wrap: wrap;                        
    justify-content: center;   
}

#cardAmigurumiRecipeImage:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px #8c522d;
}

#amigurumiRecipeImageDisplay {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px  #8c522d
    ;
}

#table_amigurumi_material{
    width: 100%;
}

#data_amigurumi_material{
    color: #8c522d;
    font-size: 16px;
    column-gap: 20px;
    display: inline-block;
    flex-wrap: wrap;
}

#data_amigurumi_material ul {
    list-style: none; /* Remove os bullet points */
    padding: 0;
    margin: 0;
}

#data_amigurumi_material [name="material"] {
    width: 150px;
}

#data_amigurumi_material [name="quantity"] {
    width: 50px;
}

#data_amigurumi_material [name="unit"] {
    width: 40px;
}

#data_amigurumi_material li {
    padding: 0px 0;
    font-size: 16px;
}

#table_stitchbookList{
    width: 100%; 
    border-collapse: collapse;
    overflow-x: scroll;
    max-width: 100%; 
}

#table_stitchbook_sequence{
    width: 100%; 
    border-collapse: collapse;
}

#table_stitchbook_sequence [name="element_name"]{
    width: 100px;
}

#table_stitchbook_sequence [name="element_order"]{
    width: 50px;
}

#table_stitchbookList th{
    background-color: #996544;
    color: white;
    position: sticky;
    top: 0; 
    z-index: 1;
    height: 40px;
}

#data_stitchbookList h1 {
    gap: 30px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    border-bottom: thick double #8c522d;
    color: #8c522d;
}

#data_stitchbookList td {
    border: 1px solid #b6b4b4;
}

#data_stitchbookList tr:nth-child(odd) {
    background-color: #f2ece8;
}

#data_stitchbookList tr:nth-child(even) {
    background-color: #e5d9d0;
}

#data_stitchbookList input {
    font-size: 14px;
}

#data_stitchbookList [name="number_row"]{
    width: 70px;
}

#data_stitchbookList [name="colour"]{
    width: 70px;
}

#data_stitchbookList [name="stich_sequence"]{
    width: 610px; 
}

#data_stitchbookList [name="observation"]{
    width: 200px; 
}

td#manual_fit_stitchbook, th#manual_fit_stitchbook {
    width: 170px;
}

#modalOverlayAmigurumi, #modalOverlayImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8c522d;
    z-index: 999;
    display: none;
}

#editAmigurumiBox, #editImageBox, #addNewAmigurumiBox, #responseMessageImputRecipe{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #8c522d;
    z-index: 1000;
    max-height: 80%;
    overflow-y: auto;
    width: 50%;
}

#editAmigurumiBox ul, #editImageBox ul, #addNewAmigurumiBox ul, #responseMessageImputRecipe ul {
    list-style-type: none; /* Remove o bullet point da lista */
    padding-left: 0; /* Remove o recuo da lista */
}

#editAmigurumiBox input, #editImageBox input, #addNewAmigurumiBox input, #responseMessageImputRecipe input {
    width: 350px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}